.ng-invalid:not(form){
    border-left: 5px solid red;
    animation: shake 5px;
}

label,input,button,.alert{
    display: block;
    width: 30%;
    float: inline-start;
    margin-left: 35%;
    border-top: 50%;
}
